body{
  background-color: #E3E3DD;
}
*{
  font-family: Arial;
  color:#2b2b2b;
}

.success{
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom: 0px;
  margin: auto;
  width: 550px;
  height: 500px;
  background-color: white; opacity: 0.7;
  text-align:center;
  border: 1px solid #A3A49F;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.you{
  padding-top: 30px;
  color: #ffa31a;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
.thanks{
  padding-top:80px;
  font-size: 55px;
  text-shadow: 0 0 6px gray;
  padding-bottom: 65px;
}
